@model TheKarixPL.QuadraticEquation.Library.QuadraticEquation

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="/res/css/result.css">
<main>
    <h1>Result</h1>
    <h3>a: @Model.A</h3>
    <h3>b: @Model.B</h3>
    <h3>c: @Model.C</h3>
    <h3>p: @Model.P</h3>
    <h3>q: @Model.Q</h3>
    <h3>&Delta;: @Model.Delta</h3>
    @if (Model.Delta > 0)
    {
        <h3>x1: @Model.Roots[0]</h3>
        <h3>x2: @Model.Roots[1]</h3>
        <h3>Chart:</h3>
        <img src="@($"/Home/Chart?A={Model.A}&B={Model.B}&C={Model.C}")" alt="Chart">
    }
    else if (Model.Delta == 0)
    {
        <h3>x: @Model.Roots[0]</h3>
        <h3>Chart:</h3>
        <img src="@($"/Home/Chart?A={Model.A}&B={Model.B}&C={Model.C}")" alt="Chart">
    }
    else
    {
        <h3>x1: @Model.ComplexRoots[0]</h3>
        <h3>x2: @Model.ComplexRoots[1]</h3>
    }
</main>